# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
# Install SSH key
- task: InstallSSHKey@0
  inputs:
    sshKeySecureFile: azdo_deploy_key
    knownHostsEntry: 20.234.214.19

- script: echo Hello, world!
  displayName: 'Run script after connection'

- script: |
    echo Add other tasks to build, test, and deploy your project.
    echo See https://aka.ms/yaml
  displayName: 'Run a multi-line script'
